{% extends "base.html" %}
{% block title1 %}
More about us
{% endblock title1 %}
{% block bigHeader %}Here are some of my other projects{% endblock bigHeader %}
{% block title2 %}{% endblock title2 %}
{% block section1 %}
{% block aboutMe %}
<div class="card bg-dark text-white" style="width: 18rem;">
    <img src="/static/5.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">SK AI Voice App</h5>
        <p class="card-text">Listen to your favourite songs in your favourite singer's voice</p>
        <a href="https://play.google.com/store/apps/details?id=com.skaivoice" class="btn btn-primary" target="_blank">PlayStore Link</a>
    </div>
</div>
<div class="card bg-dark text-white" style="width: 18rem;">
    <img src="/static/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">AnimeGPT App</h5>
        <p class="card-text">Talk to your favourite Anime Characters for free now !</p>
        <a href="https://play.google.com/store/apps/details?id=com.animegpt" class="btn btn-primary" target="_blank">PlayStore Link</a>
    </div>
</div>
<div class="card bg-dark text-white" style="width: 18rem;">
    <img src="/static/3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Shakalaka App</h5>
        <p class="card-text">Turn your imagination into reality by a simple sketch</p>
        <a href="https://play.google.com/store/apps/details?id=com.shakalaka" class="btn btn-primary" target="_blank">PlayStore Link</a>
    </div>
</div>

{% endblock aboutMe %}
{% endblock section1 %}
