{% extends "base.html" %}
{% block title1 %}Home Page{% endblock title1 %}
{% block bigHeader %}Top Headlines{% endblock bigHeader %}



{% block section1 %}
<article>
    <h2>Foreign investors have now taken out most of the money they put in China's stock market this year</h2>
    <p>Tata Technologies made a smashing entry into the stock market on Thursday, as its shares closed a whopping 140% higher than its initial public offering (IPO) price. The company&#x27;s successful debut has garnered significant attention and is an encouraging sign for the market.

        The Indian engineering and design services firm had recently raised around $461 million through its IPO, making it one of the largest offerings in the country this year. The strong response from investors reflects the optimistic sentiment surrounding Tata Technologies and its prospects for growth.</p>
    <a href="/search" class="btn btn-primary">Read more</a>
</article>

<article>
    <h2>Alia Bhatt cheers for husband Ranbir Kapoor after watching Animal; says her ‘mind is officially blown’</h2>
    <p>In a recent interview, director Sandeep Reddy Vanga revealed an interesting tidbit about working with Ranbir Kapoor on their upcoming film, Animal. Vanga stated that Kapoor did not want the term &quot;superstar&quot; to be attached to his name on the film&#x27;s poster.

        Vanga, who is known for his previous hits like Kabir Singh and Arjun Reddy, is collaborating with Kapoor for the first time in Animal. The film has already generated a lot of buzz and anticipation among fans, mainly because of the talented individuals involved in its making.
        
        </p>
    <a href="/search" class="btn btn-primary">Read more</a>
</article>
<article>
    <h2> Bitcoin is back (sort of) </h2>
    <p>How To Buy Bitcoin ETF Token – Complete Guide

        Bitcoin has been the talk of the town for quite some time now. But what if you could invest in Bitcoin without actually owning any? That&#x27;s where the Bitcoin ETF token (BTCETF) comes in. This new crypto is rapidly gaining popularity, primarily due to the excitement surrounding its launch.</p>
    <a href="/search" class="btn btn-primary">Read more</a>
</article>

<article>
    <h2> Animal box office collection day 1: Ranbir film creates history in North America | Bollywood</h2>
    <p>Animal Advances at the Box Office: Ranbir Kapoor&#x27;s Crime Saga Creates a Sensation in the Telugu-speaking Market

        Ranbir Kapoor&#x27;s latest crime saga, &quot;Animal,&quot; is making waves at the box office, particularly in the Telugu-speaking market. The film, which features Kapoor in a gritty and intense role, has been drawing big crowds and creating a buzz among moviegoers.</p>
    <a href="/search" class="btn btn-primary">Read more</a>
</article>
{% endblock section1 %}
